section{
    background-color: #E7E7E7;
    grid-area: section;
}

// compras


.compras__guardadas-img{
    width: auto;
    height: 300px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    margin: 5px;
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px; 
    margin: 5px; 
    color: white; 
}