.lista {
    ul {
        display: flex;
        padding-top: 6px;
        justify-content: center;
        align-items: center;

        a {
            --color: #0077ff;
            font-family: inherit;
            display: inline-block;
            width: 6em;
            height: 2.6em;
            line-height: 2.5em;
            overflow: hidden;
            cursor: pointer;
            margin: 20px;
            font-size: 17px;
            z-index: 1;
            color: var(--color);
            border: 2px solid var(--color);
            border-radius: 6px;
            position: relative;
            text-align: center;
        }
        
        a::before {
            position: absolute;
            content: "";
            background: var(--color);
            width: 150px;
            height: 200px;
            z-index: -1;
            border-radius: 50%;
        }
        
        a:hover {
            color: white;
        }
        
        a:before {
            top: 100%;
            left: 100%;
            transition: 0.7s all;
        }
        
        a:hover::before {
            top: -30px;
            left: -30px;
        }
    }
}

.nav__container-btn {
    border: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5px;
}

.nav__container-btn:hover {
    background-color: #0056b3;
    transition: 0.4s;
}

.nav__container-btn:active {
    transform: scale(0.9);
}


.carrito__btn-- {
    border: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5px;
}

.carrito__btn--:hover {
    background-color: #044488;
    transition: .4s;
}

.carrito__btn--:active {
    transform: scale(0.9);
}

.article__btn {
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 18px;
    background-color: #06090c;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 5px;
}

.article__btn:hover {
    background-color: #21105c;
    transition: .4s;
}

.article__btn:active {
    transform: scale(0.9);
}


.btn__limpiarCarro {
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #06090c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

.btn__limpiarCarro:hover {
    background-color: #3d3d38;
    transition: 0.4s;
}

.article__line {
    border-bottom: 1px solid rgb(112, 99, 99);
    padding: 0 100px;
}

.btn-dark {
    width: 60px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 100px;
    border: #333 solid 2px;
    cursor: pointer;
    margin: 6px 10px;
}

.btn-dark::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #00A5CE;
    left: 0;
    right: unset;
}

.btn-dark.active::before {
    right: 0;
    left: unset;
}


// compras

.carrito-btn {
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 100px;
    margin: auto;
    padding-bottom: 6px;
    cursor: pointer;
}

.carrito-btn:hover {
    background-color: black;
    border-radius: 10px;
    transition: 0.4s;
}

.btn__verCompras {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;


}

.btn__verCompras:hover {
    background-color: #24116b;
    transition: .4s;
    box-shadow: #06090c;
    color: yellow;

}

.btn__verCompras:active {
    transform: scale(0.9);
}

.btn__verCompras-i {
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #eeff00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

.btn__verCompras-i:hover {
    background-color: #c4d10c;
    transition: 0.4s;
}

.name-prod {
    display: flex;
    flex-direction: column;
    gap: 10px;
}